.dropdown-menu {
  min-width:15rem;
}

.notification-content {
  padding-left: 1.5rem;
}

.pulse {
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.0);
  }
  100% {
      box-shadow: 0 0 0 30px rgba(160,90,40,0.5);
  }
}