<div class="container" style="opacity:0.97;" *ngIf="this.authService.isAdmin()">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-inverse">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let product of this.products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}} RON</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="delete(product.id)">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-warning" [routerLink]="['../detail/',product.id]">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-white" *ngIf="!this.authService.isAdmin()">
    <h1>You are not authorized to view this page</h1>
</div>